@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}
 
#dock{
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 5rem;
}

#dock-root{
    padding-left: 2rem;
}