services:
  postgres:
    image: postgres:16
    container_name: pg-local
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: LotteryApp
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  api:
    build: .
    container_name: lottery-api
    environment:
      ConnectionStrings__DefaultConnection: "Host=pg-local;Port=5432;Database=LotteryApp;Username=postgres;Password=postgres"
    depends_on:
      - postgres

volumes:
  pgdata:
